.AboutMe h1{
    font-family: 'Cormorant', serif;
    color: white;
    font-size: 10vh;
    margin-bottom: 0vh;
    padding-right: 9%;
}

.AboutMe p{
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 2.5vh;
    padding-left: 50%;
    padding-right: 15%;
    text-align: justify;
    line-height: 1.8;
}

.AboutMe img{
    margin: 2vh;
    width: 400px;
    float: left;
    margin-left: 15%;
    border-radius: 50%;
}